<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>文件</title>
<!--    <link href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="css/wind.css" rel="stylesheet">-->
<!--    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
<!--    <script src="js/winpan.js"></script>-->
<!--    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/wind.css" rel="stylesheet">
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/winpan.js"></script>
</head>
<body style="background-color: #F0F0F0" id="body">
<div id="div_top_area" class="navbar thewind_nav_top justify-content-center fixed-top">
    <div id="div_brand_wind" class="card-text mr-4 font-weight-bold text-dark navbar-brand wind_hand_style btn-lg" style="font-size: 40px" onclick="backToDomain()">TheWind</div>
    <input id="search_keyword" type="text" class="thewind_search_text_field ml-4 input-group-text btn-lg" onsubmit="searchFile()"><div id="div_search_button" class="thewind_search_button float-right ml-2 wind_hand_style btn-lg" onclick="searchFile()">搜索</div>
    <div id="div_login_button" class="thewind_search_button float-right ml-4 wind_hand_style btn-lg">登录</div>
</div>
<div id="div_top_sep"></div>
<!--弹窗-->
<!--<div id="mask" class="file_upload_style col-lg-6 " >-->
<!--    <form id="uploadForm" enctype="multipart/form-data" style="float: right;border: none">-->
<!--        <input id="files" type="file" name="files" style="float: left;border: none;margin-top: 1em;"/>-->
<!--        <button id="upload" onclick="uploadFile()" style="float: left;border: none;margin-top: 1em;">上传文件</button>-->
<!--    </form>-->
<!--</div>-->
<div id="div_upload_area">
    <div id="upload_area" class="file_upload_style col-lg-6" style="min-height:60px" >
        <button id="upload" onclick="uploadFile()" style="float: right;border: none;margin-top: 1em;">上传文件</button>
        <input id="files" type="file"  name="files" style="float: right;border: none;margin-top: 1em;"/>
    </div>
</div>

<div style="height: 30px"></div>
<div id="div_file_list"></div>

<script>
    function isMobile(){
        let ua = navigator.userAgent; //获取浏览器UA
        return ua.includes('Android') || ua.includes('Mobile')||ua.includes('iPhone');
    }

    function getHeaderHeight(){
        return isMobile()?160:60;
    }

    function getUploadFieldHeight(){
        return isMobile()?160:60;
    }

    function getFileItemHeight(){
        return isMobile()?160:60;
    }

    function getTextSize(){
        return isMobile()?35:16;
    }
    function getIconSize(){
        return isMobile()?100:40;
    }
</script>

<script>
    function listFiles(dirPath) {
        $('#div_file_list').html('');
        let path=dirPath==null?'home':'home?dirPath='+dirPath;
        $.ajax({
            url:path,
            async:true,
            success:function (params) {
                parseFileListInfo(params);
            }
        })
    }

    function parseRealPath(){
        let search=location.search;
        return getSearchString('realPath',search);
    }

    //key(需要检索的键） url（传入的需要分割的url地址，例：?id=2&age=18）
    function getSearchString(key, Url) {
        let str = Url;
        str = str.substring(1, str.length); // 获取URL中?之后的字符（去掉第一位的问号）
        let arr = str.split("&");
        let obj = {};
        // 将每一个数组元素以=分隔并赋给obj对象
        for (let i = 0; i < arr.length; i++) {
            let tmp_arr = arr[i].split("=");
            obj[decodeURIComponent(tmp_arr[0])] = decodeURIComponent(tmp_arr[1]);
        }
        return obj[key];
    }


    function downloadFile(realPath) {
        location.href='download?realPath='+realPath;
    }

    function processClickEvent(fileType,realPath){
        if(fileType==='dir'){
            location.href="?realPath=" + encodeURI(realPath);
        }else {
            downloadFile(realPath);
        }
    }

    function uploadFile(){
        let formData=new FormData();
        let f=$('#files')[0].files[0];
        if(f==null){
            alert('未选择文件');
            return ;
        }
        formData.append("files",f);
        formData.append("path",parseRealPath());
        $.ajax({
            url: '/upload',
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false
        }).done(function(res) {
            alert("上传成功！");
            listFiles(parseRealPath());

        }).fail(function(res) {
            alert("上传失败！");
        });
    }

    listFiles(parseRealPath())
</script>

<script>
    let search_keyword=$('#search_keyword');
    let div_upload_area=$('#div_upload_area');
    function searchFile() {
        let formData=new FormData();
        let path=parseRealPath();
        let keyword=encodeURI(search_keyword.val());
        if(keyword==null||keyword.length===0){
            alert('请输入关键词');
            return ;
        }
        formData.append('path',path==null?'home':path);
        formData.append('keyword',keyword);
        $.ajax({
            url:'/search',
            type: 'POST',
            cache: false,
            data: formData,
            async:true,
            processData: false,
            contentType: false,
            success:function (params) {
                $('#div_file_list').html('');
                parseFileListInfo(params);
            }
        });
    }

    function parseFileListInfo(params) {
        for(let i=0;i<params.length;i++){
            let detail=params[i];
            let fileId=detail.fileId;
            let fileName=detail.fileName;
            let uploadTime=detail.uploadTime;
            let fileSize=detail.fileSize;
            let fileType=detail.fileType;
            let fileDesc=detail.fileDesc;
            let realPath=encodeURI(detail.realPath);

            let fileDisplayItem='<div class="navbar thewind_nav_top col-11 col-lg-6 m-auto wind_hand_style" style="min-height:'+getFileItemHeight()+'px" onclick="processClickEvent(\''+fileType+'\',\''+realPath+'\')">\n' +
                '    <img class="file_icon_style float-left" src='+fileFormatIcon(fileType)+' alt="" style="width: '+getIconSize()+'px;height: '+getIconSize()+'px">\n' +
                '    <span class="file_name_style" style="font-size: '+getTextSize()+'px" >'+fileName+'</span>\n' +
                '    <span class="file_desc_style" style="font-size: '+getTextSize()+'px">'+fileDesc+'</span>'+
                '    <span style="font-size: '+getTextSize()+'px">'+formatFileSize(fileSize)+'</span>\n' +
                '    <span style="font-size: '+getTextSize()+'px">'+formatDate(uploadTime)+'</span>\n' +
                '</div>\n' +
                '<div style="height: 10px"></div>';
            $('#div_file_list').append(fileDisplayItem);

        }
    }

    function backToDomain(){
        window.location.href='/';
    }
    //绑定回车事件
    search_keyword.on('keypress',function (e) {
        if(e.keyCode===13){
            searchFile();
        }
    });

    function adjustUploadArea(){
        let uploadArea=
            '    <div id="upload_area" class="navbar thewind_nav_top col-11 col-lg-6 m-auto" style="min-height:'+getFileItemHeight()+'px;" >\n' +
            '        <input id="files" type="file"  name="files" class="btn-lg border-0"/>\n' +
            '        <button id="upload" onclick="uploadFile()" class="btn-lg border-0">上传文件</button>\n' +
            '    </div>';
        div_upload_area.html(uploadArea);
        $('#div_top_area').height(getFileItemHeight());
        $('#div_top_sep').height(getFileItemHeight()+40);
        $('#div_brand_wind').css('font-size',isMobile()?70:40);
        search_keyword.css('height',isMobile()?70:40,'font-size',getTextSize());
        $('#div_login_button').css('font-size',getTextSize());
        $('#div_search_button').css('font-size',getTextSize());
    }

    adjustUploadArea();



</script>



</body>
</html>