<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>文件</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/wind.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body style="background-color: #F0F0F0" id="body">
<div id="dd" style="height: 300px;background-color: bisque;cursor: pointer"></div>
<script>
    function tips(params){
        this.style.cursor='hand';
    }
</script>
</body>
</html>